In [33]:
seq_1 = "ATCGTACGATCGATCGATCGCTAGACGTATCG"
seq_2 = "actgatcgacgatcgatcgatcacgact"
seq_3 = "ACTGAC-ACTGTâ€”ACTGTA----CATGTG"

In [34]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]

In [35]:
print(apes[0])
first_site = conserved_sites[2]

Homo sapiens

In [36]:
chimp_index = apes.index("Pan troglodytes")
print(chimp_index)

1

In [37]:
print(apes)

['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla']

In [38]:
last_ape = apes[-1]

In [39]:
ranks = ["kingdom","phylum", "class", "order", "family"]
lower_ranks = ranks[2:5]
print(lower_ranks)

['class', 'order', 'family']

In [40]:
apes.append("Pan paniscus")

In [41]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"] 
print("There are " + str(len(apes)) + " apes") 
apes.append("Pan paniscus")
print("Now there are " + str(len(apes)) + " apes")

There are 3 apes
Now there are 4 apes

In [42]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
monkeys = ["Papio ursinus", "Macaca mulatta"]
primates = apes + monkeys
print(str(len(apes)) + " apes")
print(str(len(monkeys)) + " monkeys")
print(str(len(primates)) + " primates")

3 apes
2 monkeys
5 primates

In [43]:
ranks = ["kingdom","phylum", "class", "order", "family"]
print("at the start : " + str(ranks))
ranks.reverse()
print("after reversing : " + str(ranks))
ranks.sort()
print("after sorting : " + str(ranks))

at the start : ['kingdom', 'phylum', 'class', 'order', 'family']
after reversing : ['family', 'order', 'class', 'phylum', 'kingdom']
after sorting : ['class', 'family', 'kingdom', 'order', 'phylum']

In [44]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
        print(ape + " is an ape")

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

In [45]:
print(range(3))

range(0, 3)

In [46]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    name_length = len(ape)
    first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

Homo sapiens is an ape. Its name starts with H
Its name has 12 letters
Pan troglodytes is an ape. Its name starts with P
Its name has 15 letters
Gorilla gorilla is an ape. Its name starts with G
Its name has 15 letters

In [47]:
name = "martin"
for character in name:
   print("one character is " + character)

one character is m
one character is a
one character is r
one character is t
one character is i
one character is n

In [48]:
names = "melanogaster,simulans,yakuba,ananassae"
species = names.split(",")
print(str(species))

['melanogaster', 'simulans', 'yakuba', 'ananassae']

In [50]:
protein = "vlspadktnv"
stop_positions = [3,4,5,6,7,8,9,10] 
for stop in stop_positions:
    substring = protein[0:stop] 
    print(substring)

vls
vlsp
vlspa
vlspad
vlspadk
vlspadkt
vlspadktn
vlspadktnv

In [51]:
for number in range(6):
    print(number)

0
1
2
3
4
5

In [52]:
for number in range(3, 8):
    print(number)

3
4
5
6
7

In [53]:
for number in range(2, 14, 4):
    print(number)

2
6
10

In [68]:
input = open("input.txt")
output = open("output.txt", "w")
for line in input:
    output.write(line[14:len(line)])
    print(len(line[14:len(line)]))
output.close()

39
40
35
25
52
27
44